


body {
	line-height: 1;
}



body {
	-webkit-text-size-adjust: none;
}


input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}


	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
        background-color: #ededed;
		font-size: 13pt;
		color: #696969;
		font-weight: 300;
		line-height: 2.25em;
	}


	input, select, textarea {
		font-family: 'Open Sans', sans-serif;
		font-size: 13pt;
		color: #696969;
		font-weight: 300;
		line-height: 2.25em;
	}

	a {
		color: #0090c5;
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	h1, h2, h3, h4, h5, h6 {

	}


     /*
	h2 {
		font-size: 2.25em;
		margin: 0 0 1.1em 0;
		line-height: 1em;
	}

	h3 {
		font-size: 1.35em;
		margin: 0 0 1em 0;
	} */

	b, strong {
		font-weight: 600;
		color: #444;
	}

	i, em {
		font-style: italic;
	}

	br.clear {
		clear: both;
	}


	hr {
		border: 0;
		border-top: solid 1px #eee;
	}

   article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}