body {



  }

p {
  line-height: 1.75;
}

a {
  color: #fed136;
}

a:hover {
  color: #fec503;
}

.text-primary {
  color: #fed136 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family:
}
  /**** SOCIAL BUTTON *******/

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}

/****** CONTACT FORM **************************
        CONTACT FORM
 *****************************************************/
  section#contact {
  background-color1: #212529;
  background-color: #ff00ff;
  background-image: url("../img/map-image.png");

  background-repeat: no-repeat;
  background-position: center;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #fed136;
  -webkit-box-shadow: none;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: '
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family:
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family:

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family:
}




