
 body {
     color: #000000;
     margin: 0px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     line-height: 20px;
     height:100%;
 }
   body, html {
  height: 100%;
}

#mainNav {
  background-color: #212529;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #fed136;
  font-family:

}

#mainNav .navbar-brand {
  color: #fed136;
  font-family:

}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family:
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}


 /***************************  HEADER  *********************/

header.masthead {
   margin-top:60px;
   height: 600px;
  text-align: center;
  color: white;
  background-image: url(../img/bg-head.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}


header.masthead {
  padding-top: 450px;
  padding-bottom1: 100px;
  font-size: 30px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  color: #000;
  font-family:
}


  /**************** SERVICES ********************/

   section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family:
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}









 .btn {
  font-family:
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 20px;
  margin-top: 20px;
}
   /*
.btn-primary1 {
  background-color: #fed136;
  border-color: #fed136;
}  */

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #000 !important;
  border-color:olive !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5);
}


@media (max-width: 768px) {
  .masthead, footer  {
    display:none;
  }

  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family:

 }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family:
  }
}



/*

   .deco{
        opacity1: 0.7;
       border-radius: 10px 40px 10px 30px;
       -moz-border-radius: 10px 40px 10px 30px;
       -webkit-border-radius: 10px 40px 10px 30px;
       border: 0px solid #000000;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -webkit-transition: all 3s ease;
        -moz-transition: all 3s ease;
        -ms-transition: all 3s ease;
         -o-transition: all 3s ease;
         transition: all 3s ease;
  }


  .deco:hover {
      cursor: pointer;
       -moz-transform: scale(1.2) translateX(5px) translateY(5px);
-webkit-transform: scale(1.2) translateX(5px) translateY(5px);
-o-transform: scale(1.2) translateX(5px) translateY(5px);
-ms-transform: scale(1.2) translateX(5px) translateY(5px);
transform: scale(1.2) translateX(5px) translateY(5px);
background-color: #000;
color: #fff;
  }
*/

  /****************     FOR SERVICES **************/


 .boda {
     border-radius: 66px 10px 78px 10px;
-moz-border-radius: 66px 10px 78px 10px;
-webkit-border-radius: 66px 10px 78px 10px;
border: 0px solid #000000;
 }


   .boda2{
    border-radius: 33px 29px 33px 31px;
-moz-border-radius: 33px 29px 33px 31px;
-webkit-border-radius: 33px 29px 33px 31px;
border: 0px solid #000000;
 }



 .boda3 {
      border-radius: 0px 63px 0px 55px;
-moz-border-radius: 0px 63px 0px 55px;
-webkit-border-radius: 0px 63px 0px 55px;
border: 0px solid #000000;
 }









 /****************     ARTIFICIAL INTELIGENCE THHUMNAILS **********************/
/*
#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family:

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-modal {
  padding-right: 0px !important;
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.portfolio-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: '

}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #212529;
}*/

 /********************** paralax *******************/

  .parallax {
  /* The image used */
  background-image: url(para3.jpg);

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


   .parallax2 {
  /* The image used */
  background-image: url(img/para1.jpg);

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}



 /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax2 {
    background-attachment: scroll;
  }
}


 /********************** footer background *******************/
     .grad {
          background:-webkit-linear-gradient(90deg, #ffffff 10%, #dda222 90%);
          background:-moz-linear-gradient(90deg,    #ffffff 10%, #dda222 90%);
           background:-ms-linear-gradient(90deg,    #ffffff 10%, #dda222 90%);
           background:-o-linear-gradient(90deg,     #ffffff 10%, #dda222 90%);
           background: linear-gradient(90deg,       #ffffff 10%, #dda222 90%);
           height:300px;
           width: 100%;
      }


    .cona {
       border-radius: 10px 10px 38px 95px;
-moz-border-radius: 10px 10px 38px 95px;
-webkit-border-radius: 10px 10px 38px 95px;
border: 0px solid #000000;
    -webkit-box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.75);
box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.75);
      -webkit-transition: all 3s ease;
-moz-transition: all 3s ease;
-ms-transition: all 3s ease;
-o-transition: all 3s ease;
transition: all 3s ease;

    }

  .cona:hover{
       cursor: pointer;
        -moz-transform: scale(0.7) translateX(10px) translateY(-20px);
-webkit-transform: scale(0.7) translateX(10px) translateY(-20px);
-o-transform: scale(0.7) translateX(10px) translateY(-20px);
-ms-transform: scale(0.7) translateX(10px) translateY(-20px);
transform: scale(0.7) translateX(10px) translateY(-20px);
   }


    .cona2 {
      border-radius: 42px 10px 10px 64px;
-moz-border-radius: 42px 10px 10px 64px;
-webkit-border-radius: 42px 10px 10px 64px;
border: 0px solid #000000;
   -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);



     -webkit-transition: all 3s ease;
-moz-transition: all 3s ease;
-ms-transition: all 3s ease;
-o-transition: all 3s ease;
transition: all 3s ease;

    }

   .cona2:hover{
      cursor: pointer;
        -moz-transform: scale(0.7) translateX(10px) translateY(-20px);
-webkit-transform: scale(0.7) translateX(10px) translateY(-20px);
-o-transform: scale(0.7) translateX(10px) translateY(-20px);
-ms-transform: scale(0.7) translateX(10px) translateY(-20px);
transform: scale(0.7) translateX(10px) translateY(-20px);
   }


    .cona3{
       border-radius: 54px 58px 10px 13px;
-moz-border-radius: 54px 58px 10px 13px;
-webkit-border-radius: 54px 58px 10px 13px;
border: 0px solid #000000;
     -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);


      -webkit-transition: all 3s ease;
-moz-transition: all 3s ease;
-ms-transition: all 3s ease;
-o-transition: all 3s ease;
transition: all 3s ease;
    }

   .cona3:hover{
       cursor: pointer;
        -moz-transform: scale(0.7) translateX(10px) translateY(-20px);
-webkit-transform: scale(0.7) translateX(10px) translateY(-20px);
-o-transform: scale(0.7) translateX(10px) translateY(-20px);
-ms-transform: scale(0.7) translateX(10px) translateY(-20px);
transform: scale(0.7) translateX(10px) translateY(-20px);
   }
